<div class="home">
  <h1>Practical Task</h1>

  <h4>Description</h4>
  <p>
    Please, migrate Angular Products page to React. <br />
    Use best practices of modern JavaScript and React to keep functionality, CSS and TypeScript.
  </p>
  <div>
    <h4>Structure</h4>
    <ul>
      <li>Angular application "/angular-app"</li>
      <li>result React application "/react-app"</li>
    </ul>
  </div>
  <p>Use modern approach for React components</p>
  <ul>
    <li>
      Install NPM dependencies for both applications
    </li>
    <li>
      Implement page
      <a
        routerLink="products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Products</a
      >
      with loader and fetch request
    </li>
    <li>
      Handle arrow Up/Down keyboard event to navigate through the items
    </li>
    <li>
      When user press 'Enter', selected item should be displayed ("console.log" or "alert")
    </li>
  </ul>
</div>
