<div class="home">
  <h1>Practical Task</h1>

  <h4>Description</h4>
  <p>
    Please, migrate Angular Products page to React. <br />
    Use best practices to keep functionality, styles and TypeScript
  </p>
  <div>
    <h4>Structure</h4>
    <ul>
      <li>Angular application "/angular-app"</li>
      <li>result React application "/react-app"</li>
    </ul>
  </div>
  <p>Use modern approach for React components</p>
  <ul>
    <li>
      Install NPM dependencies for both applications
    </li>
    <li>
      Implement page
      <a
        routerLink="products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Products</a
      >
      with loader and fetch request
    </li>
    <li>
      Use keyboard event to handle arrow up/down to navigate throw the items
    </li>
    <li>
      When user press 'Enter' selected item should be displayed via console.log or alert
    </li>
  </ul>
</div>
